

.app-wrapper {
 display: grid; 
 width: 1200px;

 grid-template-areas: 
 "h h "
 "n c ";

 grid-template-rows: 90px 1fr;
 grid-template-columns: 2fr 10fr;
 grid-gap: 5px;

}

.app__wrapper-content {
 grid-area: c;
 background-image: url(https://img.freepik.com/free-vector/colorful-modern-trendy-background-for-applications-or-presentations_95169-962.jpg);
 background-size: cover;
}